.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    background-color: #92e8d8;
    color: white;
    padding: 30px;
}

.social-media {
    font-size: 25px;
    color: white;
}

a.social-media,
a.social-media:visited {
    color: white;
}

a.social-media:hover {
    color: white;
}

a.social-media:active {
    color: white;
}

a.footer__larisa:visited,
a.footer__larisa:link,
a.footer__larisa:active {
    color: white;
}

.footer__larisa {
    font-size: 12px;
    align-self: center;
}