.footer {
    text-align: center;
    background-color: #92e8d8;
    color: white;
    padding: 30px;
}

.social-media {
    font-size: 25px;
    color: white;
}

a.social-media:link {
    color: white;
}

a.social-media:hover {
    color: white;
}

a.social-media:active {
    color: white;
}