@import url('https://fonts.googleapis.com/css?family=Josefin+Slab|Sacramento');

$josefin: 'Josefin Slab', serif;
$sacramento: 'Sacramento', cursive;

@import 'mixins';
@import 'contact';
@import 'description';
@import 'gallery';
@import 'footer';
@import 'header';
@import 'intro';
@import 'transitions';

body {
   margin: 0;
   font-family: $josefin;
   font-size: 20px;

    a {
        text-decoration: none;
    }
}

.title {
    font-family: $sacramento;
    font-weight: bold;
}

h1 {
    margin: 0;
}

.intro,
.description,
.gallery,
.contact {
    height: 99vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

a:link,
a:visited {
    color: black;
}

a:hover {
    color: #92e8d8;
}

a:active {
    color: #1ef1cb;
}